<!DOCTYPE html>
<html>
<head>
<title>Mc Force Op</title>
</head>
<body>
<!-- HUD Start-->
<h1>&#305&#305&#305 MC Force Op &#305&#305&#305</h1>
<h4>&radic;BETA</h2>
	<div class="menuBar">
		<a href="/" class="grey button">
			<img src="http://i1278.photobucket.com/albums/y520/fordsally/home_zps728d0710.png~original" height="11px" width="14px" alt="home.png"> Home
		</a>
		<a href="/logins" class="grey button">
			<img src="http://i1278.photobucket.com/albums/y520/fordsally/bvnjv-md_zpsa74040be.png~original" height="11px" width="14px" alt="apps.png"> Force Op
		</a>
		<a href="about.html" class="grey button">
			<img src="http://i1278.photobucket.com/albums/y520/fordsally/Computer-Hardware-Monitor-icon_zps0410f8b7.png~original" height="11px" width="11px" alt="login.png"> About
		</a>
	</div>
<!-- HUD End -->
<div class="content">
	<p class="fancyText">Force Op Application by McStealer</p>
<hr />
	<h2 class="appStart">
		<%= link_to "Click here to begin", new_login_path %>
	</h2>
</div>
</body>
</html>