<html>
	<head>
	</head>
	<body>
		<header>
			<h1>Minecraft Force Op</h1>
		</header>
		<div class="content" id="content">
			<p>This is a web site containing a new web application that takes advantage of a bug, allowing player to potentially become op and have operator commands. This web application is still in early beta however it works and we would love some beta testers, No Ads or Surveys!</p>
			<div class="launchContainer">
				<%= link_to "Launch App", new_login_path, :class => 'launch' %>
			</div>
		</div>
	</body>
</html>