// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	background-image: url('https://minecraft.net/images/bg_main.png');
	font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	word-spacing: .1em;
	font-size: 14px;
	line-height: 22px;
}

// APP BUTTON

.launch {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}

.launch:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}

.launch:active {
	position:relative;
	top:1px;
}

// END

header {
	font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	padding: .4em 10px .2em 10px;
	padding-left: 20px;
	border-bottom: 2px solid #A34747;
	border-radius: 10px;
	text-shadow: 1px 1px 3px #9daac5;
	color: #9daac5;
	text-align: center;
}

.launchContainer {
	padding-top: 40px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

.flash {
	color: #CACACA;
	letter-spacing: 1px;
}

.content {
	padding-top: 40px;
	color: #CACACA;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	line-height: 28px;
	letter-spacing: 1px;
}

form, .content {
	text-align: center;
}